body {
    font-family: Arial, serif;
    color: white;
    background-color: #191112;
}

.navbar {
    background-color: #b64419;
    font-size: 20px;
    height: 100px;
    margin-bottom: 50px;
}
#navbar.affix {
    top: 0;
    width: 100%
}
.footer {
    margin-top: 50px;
    background: url("../img/StarWars1.jpg") no-repeat fixed center;
    background-size: cover;
    padding: 35px;
}

.list-group-item.active, .list-group-item:hover {
    background-color: #b54217;
    border-color: white;
    color: white;
}

.list-group-item, .list-group-item.disabled {
    background-color: #191112;
    border-color: white;
}

a {
    color: white;
}

/* TODO Hieronder moeten we ff kijken wat niet gebruikt wordt, daarna naar style.scss verplaatsen! */

.startpic {
    display: block;
    width: 76%;
    margin-left: 10%;
    height: 35%;
}

.sliding-middle-out {
    display: inline-block;
    position: relative;
    padding-bottom: 2px;
}

.sliding-middle-out:after {
    content: '';
    display: block;
    margin: auto;
    height: 1px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

.sliding-middle-out:hover:after {
    width: 100%;
    background: #191112;
}

#RO {
    float: right;
    margin: 0 0 10px 10px;
    width: 250px;
    height: 180px;
    border-radius: 3px;
}

.grow {
    transition: all .6s ease-in-out;
}

.grow:hover {
    transform: scale(2.2);
    border-radius: 5px;
}

h2 {
    color: #b64419;
}

hr {
    border-color: #191112;
    size: 3px;
}

.shoppingCart {
    padding: 1%;
    background-color: #b9a79b;
    border-radius: 4px;
}

.trailer {
    text-decoration: underline;
    color: #b9a79b;
}

.parallax {
    /* The image used */
    /* Set a specific height */
    min-height: 700px;
    width: 100%;

    /* Create the parallax scrolling effect */
    background: url("../img/StarWars1.jpg") no-repeat fixed center;
    background-size: cover;
}

.navbar-default {
    background-color: #b64419;
    width: 100%;
    text-decoration: none;
    border: 0px;
    font-size: 20px;
}

.charInfo {
    float: left;
    width: 300px;
    height: 300px;
}

#imgGeneralInfo{
    width: 300px;
    height:200px;
}

.jumbotron{
    color: black;
    background-color: #e5e2de;

}

.card {
    padding-top: 20px;
    margin: 10px 0 20px 0;
    background-color: #ffffff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.card.hovercard {
    position: relative;
    width: 500px;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #b64419;
}

.card.hovercard img {
    width: 500px;
    height: 300px;
}

.card.hovercard .avatar {
    position: relative;
    top: -40px;
    margin-bottom: -40px;
}

.card.hovercard .avatar img {
    width: 230px;
    height: 235px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.card.hovercard .info {
    padding: 4px 8px 10px;
}

.card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}

.card.hovercard .info .desc {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #262626;
    text-overflow: ellipsis;
}

.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}

.card.people .card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.carouseltext{
    color: #b64419;
}

.breadcrumb {
    padding: 0px;
    background: transparent;
    list-style: none;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.breadcrumb>li {
    display: table-cell;
    vertical-align: top;
    width: 1%;
}

.breadcrumb>li+li:before {
    padding: 0;
}

.breadcrumb li a {
    color: white;
    text-decoration: none;
    padding: 10px 0 10px 45px;
    position: relative;
    display: inline-block;
    width: calc( 100% - 10px );
    background-color: hsla(0, 0%, 83%, 1);
    text-align: center;
    text-transform: capitalize;
    float: left;
}

.breadcrumb li.completed a {
    background: brown;
    background: hsla(153, 57%, 51%, 1);
}

.breadcrumb li.completed a:after {
    border-left: 30px solid hsla(153, 57%, 51%, 1);
}

.breadcrumb li.active a {
    background: #ffc107;
}

.breadcrumb li.active a:after {
    border-left: 30px solid #ffc107;
}

.breadcrumb li:first-child a {
    padding-left: 15px;
}

.breadcrumb li:last-of-type a {
    width: calc( 100% - 38px );
}

.breadcrumb li a:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid white;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
}

.breadcrumb li a:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid hsla(0, 0%, 83%, 1);
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
}